---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I am Gokulakannan Sakthivel, an AI Engineer/Practioner from Chennai, India.
      <br />
      <br />
      I am currently working as an AI Engineer at Centre for Responsible AI, IITM. I am passionate about AI and I love building products that use AI.
      <br />
      <br />
      Overall, I have experience in building products that leverage AI technologies. As a result, I am well-versed in Cloud, AI, and DevOps. Here are some of the technologies I’m familiar with: 
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>Langchain</li>
        <li>Tensorflow</li>
        <li>Pytorch</li>
        <li>Machine Learning</li>
        <li>Large Learning Models</li>
        <li>AI</li>
        <li>AWS</li>
        <li>Azure</li>
        <li>Docker</li>
        <li>Github Actions</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I love travelling, watching <a href="https://myanimelist.net/animelist/Parzival_G">Anime</a>, and hitting the gym 💪. 
    </p>
  </div>
</Card>
