---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-2" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      Hi, I am Gokulakannan Sakthivel, an AI Engineer/Practioner from Chennai, India.
      <br />
      <br />
      I am currently working as an AI Engineer at <a href="https://cerai.iitm.ac.in/researchers/", target="_blank">Centre for Responsible AI, IITM</a> under the guidance of <a href="https://www.sudarsun.in/" target="_blank">Dr. Sudarsun Santhiappan</a>. Owing to my passion for research, I have contributed to several labs, scientists and professors some of them include <a href="https://sainyamgalhotra.com/", target="_blank">Prof Sainyam Galhotra(Cornell University)</a>, <a href="https://procheta.github.io/sprocheta/", target="_blank">Prof Procheta Sen (University of Liverpool)</a>, <a href="https://ics.uci.edu/~jingz31/", target="_blank">Prof Jing Zhang(UC Irvine)</a>, <a href="https://sites.google.com/smail.iitm.ac.in/prg/members/alumni?authuser=0#h.7oykp7ttx7ee", target="_blank">Prof Tarak Patra(Patra Research Lab, IITM)</a> and <a href="https://www.linkedin.com/in/rosly-lyngdoh-93935bb9/?originalSubdomain=in", target="_blank">Dr. Rosly Lyngdoh(ISRO)</a>. I am glad and grateful that I have been mentored by them! Professionally I have contributed as Azure Cloud Engineer(1 year) and ML Engineer(2 years) at Eli Lilly and ThirdAI Automations(3 months). 
      <br />
      <br />
      I am passionate about AI and I love building products that use AI.
      <br />
      <br />
      Overall, I have experience in building products that leverage AI technologies. As a result, I am well-versed in Cloud, AI, and DevOps. Here are some of the technologies I’m familiar with: 
      <ul class="list-inside list-disc">
        <li>Python</li>
        <li>Langchain</li>
        <li>Tensorflow</li>
        <li>Pytorch</li>
        <li>Machine Learning</li>
        <li>Large Learning Models</li>
        <li>AI</li>
        <li>AWS</li>
        <li>Azure</li>
        <li>Docker</li>
        <li>Github Actions</li>
      </ul>
    </p>
    <p class="text-sm font-light">
      Beyond coding, I love travelling, watching <a href="https://myanimelist.net/animelist/Parzival_G">Anime</a>, and hitting the gym 💪. 
    </p>
  </div>
</Card>
