---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      My work spans scalable AI systems, cloud-native architectures, and AI-driven scientific applications.
      <br />
      <br />
      Professionally, I've contributed as an Azure Cloud Engineer and ML Engineer at <a href="https://www.lilly.com/in/who-we-are/lilly-in-india" target="_blank">Eli Lilly</a>, <a href="https://www.thirdaiautomation.com/" target="_blank">ThirdAI Automations</a>, and the <a href="https://cerai.iitm.ac.in/researchers/" target="_blank">Centre for Responsible AI at IITM</a>. Driven by a passion for research, I have collaborated with many researchers and professors across top institutions worldwide.
      <br />
      <br />
    </p>
    <p class="text-sm font-light">
      Beyond work, I enjoy visiting new places, watching <a href="https://myanimelist.net/animelist/Parzival_G">Anime</a>, and hitting the gym 💪.
    </p>
  </div>
</Card>