---
import Card from '../Card.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2" title="About me">
  <div class="flex flex-col gap-2">
    <p class="text-sm font-light">
      I love to learn, read, and research about AI. Currently, I'm a Master's student in Applied Machine Learning at the University of Maryland, backed by a few years of industry experience across ML engineering, cloud architecture, and applied AI research.
      <br />
      <br />
      Previously, I scaled cloud-integrated AI and RAG applications at <a href="https://www.lilly.com/in/who-we-are/lilly-in-india" target="_blank">Eli Lilly</a>, built smart document processing pipelines at <a href="https://www.thirdaiautomation.com/" target="_blank">ThirdAI Automations</a>, and developed multilingual evaluation frameworks at the <a href="https://cerai.iitm.ac.in/researchers/" target="_blank">Centre for Responsible AI at IITM</a>. Now, I work with <b class="font-bold">Prof. Pratyush Tiwary</b> at UMD on RNA and protein foundation language models at the intersection of AI research and scientific impact.
      <br />
      <br />
      I thrive in this fast-moving field, whether I'm digging into a complex research problem, analyzing a fresh paper, or experimenting with new architectures.
    </p>
    <p class="text-sm font-light">
      In my free time, I like to travel, watch <a href="https://myanimelist.net/animelist/Parzival_G">Anime</a>, and hit the gym 💪.
    </p>
  </div>
</Card>