---
import Card from '../Card.astro'
import { Button } from '../ui/button'
import { LINKS } from '../../lib/constants'
import { Linkedin, Github, Mail } from 'lucide-react'
---

<Card colSpan="md:col-span-3" rowSpan="md:row-span-1">
  <div class="flex h-full w-full flex-col gap-6 md:flex-row md:items-start">
    <img
      width="200"
      height="200"
      src=`/Gokul_latest.jpg`
      class="pointer-events-none select-none self-center w-28 h-28 rounded-full object-cover object-top md:order-last md:self-start md:rounded-none md:w-auto md:h-auto md:max-h-[300px] md:flex-none md:relative"
      alt="Gokul"
    />
    <div class="flex min-w-0 flex-1 flex-col gap-5">
      <div class="flex flex-col">
        <h6 class="m-0 text-sm font-light text-gray-500">Welcome</h6>
        <p class="m-0 text-xl font-light leading-relaxed">
          Hi, I'm <b class="font-bold">Gokulakannan Sakthivel (Gokul)</b>.
          I help teams create AI systems that really work in production. I focus on <b class="font-bold">AI pipelines</b>, <b class="font-bold">LLM-powered applications</b>, and scalable cloud setups on <b class="font-bold">Azure</b> and <b class="font-bold">AWS</b>.
          Whether you need to quickly develop a proof-of-concept or launch something reliable at scale, I have hands-on experience across the entire LLM/AI stack i.e., model development, cloud deployment, and everything in between.
          I'm currently looking for full-time roles in <b class="font-bold">Applied AI  Engineering Roles</b>, <b class="font-bold">ML Engineering</b>, or <b class="font-bold">Cloud Engineering</b>. I'd love to help your team turn research and ideas into real-world impact. 🚀
        </p>
      </div>
      <div class="flex flex-wrap gap-4">
        <a href={LINKS.github} aria-label="github profile" target="_blank">
          <Button aria-label="github profile" size="icon">
            <Github />
            <span class="sr-only">GitHub Profile</span>
          </Button>
        </a>
        <a href={LINKS.linkedin} aria-label="linkedin profile" target="_blank">
          <Button aria-label="linkedin profile" size="icon">
            <Linkedin />
            <span class="sr-only">Linkedin Profile</span>
          </Button>
        </a>
        <a href={LINKS.mail} aria-label="mail profile" target="_blank">
          <Button size="icon">
            <Mail />
            <span class="sr-only">Email contact</span>
          </Button>
        </a>
      </div>
    </div>
  </div>
</Card>
