---
import Card from '../Card.astro'
import Pulse from '../Pulse.astro'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="mb-1 flex w-full items-start justify-between">
    <div class="flex flex-col">
      <h2>Now</h2>
      <a href="https://sive.rs/nowff" target="_blank">
        <span class="cursor-pointer text-xs text-gray-500">What am I doing rn ?</span>
      </a>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">I am currently working as <b class="font-bold">AI Engineer</b> at <b class="font-bold">CeRAI</b> IIT Madras building <b class="font-bold">Evaluation Framework for Indian AI Conversational Applications</bb>!</p>
</Card>
