---
import Card from '../Card.astro'
import { Badge } from '../ui/badge'
import { SKILLS } from '../../lib/constants'
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" title="Skills">
  <div class="mt-2 flex w-full flex-wrap items-center justify-center gap-2">
    {
      SKILLS.map((skills) => (
        <a href={skills.link} target="__blank">
          <Badge variant="outline">{skills.skill}</Badge>
        </a>
      ))
    }
  </div>
</Card>